/*banner图*/
.index-banner{
	position:relative;
	/*background-color: #3B3B3B;*/
}
.index-banner img{
	width: 1100px;
	height: 570px;
	margin: 0 auto;
}
.index-banner-text{
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -388px;
	z-index: 9;
}
.index-banner-text .text-logo{
	width: 776px;
	height: 114px;
	background-image: url('../img/text-logo.png');	
}
.index-banner-text .text-info{
	margin-top: 17px;
	color: #fff;
	text-align: center;
}
.index-banner-text .text-info span{
	margin: 0 26px;
}
.index-banner-text .line{
	display: inline-block;
	width: 40px;
	vertical-align: middle;
	border-top: 1px solid #fff;
}
/*遮罩层*/
.inss{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 570px;
	background-color: #3B3B3B;
	opacity: .6;
}
/*菜单部分*/
.index-menu{
	position: relative;
	border-top: 4px solid #f34949;
}
.menu-tips{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -78px;
	width: 156px;
	height: 75px;
	text-align: center;
	line-height: 65px;
	color: #fff;
	background-color: #F34949;
}
.menu-tips:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;	
}
.menu-list{
	margin-top: 150px;
	color: #555;
	overflow: hidden;/*为了隐藏多余的margin*/
}
.menu-list ul{
	
	width: 1160px;/*为了更好的每排两列*/
}
.menu-item{
	float: left;
	width: 520px;
	margin-right: 60px;
	margin-bottom: 56px;
}
.menu-item .title,.menu-item .line{
	float: left;	
}
.menu-item .price{
	float: right;
}
.menu-item .title{
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menu-item .main-title{
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
.menu-item .sub-title{
	margin-top: 4px;
	font-size: 14px;
	color: #b7b7b7;
}
.menu-item .line{
	width: 192px;
	border-top: 1px solid #e3e1e1;
	margin-top: 10px;
}
.menu-more-btn{
	width: 114px;
	height: 32px;
	margin: 0 auto;
	padding-left: 16px;
	border: 1px solid #d7d5d5;
	font-size: 14px;
	line-height: 32px;
	color: #b7b7b7;
}
.menu-more-btn .icon{
	display: inline-block;
	width: 11px;
	height: 7px;
	margin-left: 10px;
	background-image: url('../img/bottom.png');
}
/*panel面板*/
.index-panel{
	margin-top: 200px;
}
.index-panel-header h3{
	font-size: 20px;
	color:#3B3B3B;
	font-weight: normal;
	float: left;
	margin-right: 48px;
}
.index-panel-header .line{
	float: left;
	width: 200px;
	border-top: 1px solid #e5e3e3;
	margin-top: 7px;
}
.index-panel-header .btn-group{
	font-size: 0;
	float: right;
}
.index-panel-header .btn{
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 11px;
	background-color: #dedede;
	border-radius:50%;
}
.index-panel-body{
	margin-top: 76px;
}
.food-list{
	overflow: hidden;
}
.food-list ul{
	width: 1160px;
	font-size: 0;
}
.food-list ul li{
	display: inline-block;
	width: 230px;
	margin-right: 60px;
}
.food-list ul li .food-pic{
	margin-bottom: 30px;
	height: 202px;
}
.food-list ul li .name{
	color: #555;
	font-size: 16px;
	margin-bottom: 10px;
}
.food-list ul li .price{
	float: right;
}
.food-list ul li .star-bar{
	font-size: 0;
}
.food-list ul li .star{
	display: inline-block;
	width:12px;
	height: 13px;
	margin-right: 5px;
	background: url('../img/star.png') no-repeat;
}
.food-list ul li .no-star{
	background-position: -12px 0;
}
/*图片展示区*/
.index-pics{
	height: 380px;
	overflow: hidden;
}
.index-pics .pics{
	float: left;
}
.index-pics .pics-l{
	width: 353px;
}
.index-pics .pics-m{
	width: 287px;
}
.index-pics .pics-r{
	width: 460px;
}
